body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.products, .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product, .review {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 40px);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    background: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

h1, h2 {
    text-align: center;
}
/* Additional CSS styles for navbar and footer */
.navbar {
    background-color: #4E5B46; /* Green color */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Spread items evenly along the navbar */
    align-items: center; /* Center items vertically */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px; /* Adjust right margin to reduce spacing */
}

.navbar h1 {
    margin: 0; /* Reset margin */
}

.navbar img {
    width: 50px; /* Adjust logo size as needed */
    margin-right: 10px; /* Add margin between logo and buttons */
}
